/* common css  */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
--primary:#7252d3;
--secondary:#3b4752;
--complete:#0072ec;
--success:#19ad79;
--danger:#d83c31;
--dark:#444444;
--white:#fff;
--light:[#f5f5f5];
--border-color:#A3A2A0;
--input-focus:#2D3047;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: transparent;
}
